Data Cleaning

In [2]:
import pandas as pd

text = ['This is the NLP TASKS ARTICLE written by Abhishek Jaiswal.',
        'In this article, I will be explaining various data cleaning techniques.',
        'So stay tuned for further updates.',
        'Nah, I don\'t think he goes to USF; he lives around.']

df = pd.DataFrame({'text': text})

In [3]:
df

                                                text
0  This is the NLP TASKS ARTICLE written by Abhis...
1  In this article, I will be explaining various ...
2                 So stay tuned for further updates.
3  Nah, I don't think he goes to USF; he lives ar...

In [6]:
# Lowercasing
df['lower'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [7]:
df

,text,lower
0,This is the NLP TASKS ARTICLE written by Abhis...,this is the nlp tasks article written by abhis...
1,"In this article, I will be explaining various ...","in this article, i will be explaining various ..."
2,So stay tuned for further updates.,so stay tuned for further updates.
3,"Nah, I don't think he goes to USF; he lives ar...","nah, i don't think he goes to usf; he lives ar..."

In [8]:
# Punctuation Removal
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
df.text.apply(lambda x: "".join(i for i in x if i not in string.punctuation))

0    This is the NLP TASKS ARTICLE written by Abhis...
1    In this article I will be explaining various d...
2                    So stay tuned for further updates
3      Nah I dont think he goes to USF he lives around
Name: text, dtype: object

In [11]:
# Removing punctuation using regular expressions:
import re
df.text.apply(lambda x: "".join(re.findall(r'[a-zA-Z+" "]', x)))

0    This is the NLP TASKS ARTICLE written by Abhis...
1    In this article I will be explaining various d...
2                    So stay tuned for further updates
3      Nah I dont think he goes to USF he lives around
Name: text, dtype: object

In [12]:
# Stop Words Removal
import nltk
from nltk.corpus import stopwords
allstopwords = stopwords.words('english')
df.lower.apply(lambda x: " ".join(i for i in x.split() if i not in allstopwords))

0          nlp tasks article written abhishek jaiswal.
1    article, explaining various data cleaning tech...
2                                  stay tuned updates.
3                   nah, think goes usf; lives around.
Name: lower, dtype: object

Spelling Correction

In [15]:
pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     ---------------------------------------- 0.0/636.8 kB ? eta -:--:--
      --------------------------------------- 10.2/636.8 kB ? eta -:--:--
     --- --------------------------------- 61.4/636.8 kB 550.5 kB/s eta 0:00:02
     --------------- ---------------------- 256.0/636.8 kB 1.8 MB/s eta 0:00:01
     -------------------------------------- 636.8/636.8 kB 3.4 MB/s eta 0:00:00
Requirement already satisfied: nltk>=3.1 in c:\users\harik\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\harik\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk>=3.1->textblob) (8.1.4)
Requirement already satisfied: joblib in c:\users\harik\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\harik\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk>=3.1->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\harik\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk>=3.1->textblob) (4.66.0)
Requirement already satisfied: colorama in c:\users\harik\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click->nltk>=3.1->textblob) (0.4.6)
Installing collected packages: textblob
Successfully installed textblob-0.17.1
Note: you may need to restart the kernel to use updated packages.

In [16]:
from textblob import TextBlob

In [17]:
df['lower'].apply(lambda x: str(TextBlob(x).correct()))

0    this is the nap tasks article written by abhis...
1    in this article, i will be explaining various ...
2                   so stay tuned for further updated.
3    ah, i don't think he goes to us; he lives around.
Name: lower, dtype: object

Tokenization

In [18]:
import nltk
mystring = "My favorite animal is cat" 
nltk.word_tokenize(mystring)
mystring.split(" ")

['My', 'favorite', 'animal', 'is', 'cat']

Stemming

In [19]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['text'].apply(lambda x:" ".join([st.stem(word) for word in x.split()]))

0    thi is the nlp task articl written by abhishek...
1    in thi article, i will be explain variou data ...
2                    so stay tune for further updates.
3    nah, i don't think he goe to usf; he live around.
Name: text, dtype: object

Lemmatization

In [22]:
from textblob import Word
nltk.download('wordnet')
df['text'].apply(lambda x:" ".join(Word(word).lemmatize() for word in x.split()))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\harik\AppData\Roaming\nltk_data...

0    This is the NLP TASKS ARTICLE written by Abhis...
1    In this article, I will be explaining various ...
2                   So stay tuned for further updates.
3     Nah, I don't think he go to USF; he life around.
Name: text, dtype: object